* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: rgb(8, 8, 8);
    color: white;
}

#header {
    width: 100%;
    height: 100vh;
    /*background-image: url(images/photo.png);*/
    background-size: cover;
    background-position: center;
}

.container {
    padding: 10px 10%;
}


#header .container {
    position: relative;
    height: 100vh;
}

nav {
    position: absolute;
    top: 27%;
    font-style: italic;
    right: 22%; 
       
    text-align: left;
}

nav ul li {
    display: block;      
    margin: 20px 0;    
}

nav ul li a {
    color: white;
    text-decoration: none;
    
    font-size: 40px; 
    font-weight: 700; 
    
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 4px;
    background: rgb(255, 0, 79);
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

logo {
    width: 140px;
}
.header-text {
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span {
    color: white
}

.header-text img {
    margin-left: 750px;
    margin-top: -390px;
    border-radius: 5px;
    width: 430px;
    height: 400px;
}

/* -------about------- */

#about {
    padding: 80px 0;
    color: rgb(171, 171, 171)
}
.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}
.about-col-1 img {
    width: 100%;
    border-radius: 15px;
    margin-top: 100px;
}

.about-col-2 {
    flex-basis: 60%;
}

.subtitle {
    font-size: 60px;
    font-weight: 600;
    color: white;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500px;
    cursor: pointer;
    position: relative;
}
.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: rgb(255, 0, 79);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 100%;
}

.tab-contents ul li {
    margin: 5px 0;
}

.tab-contents ul {
    margin-top: -10px;
}

.tab-contents ul span {
    color: rgb(181, 71, 105);
    font-size: 14px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

/* -------portfolio------- */

#portfolio {
    padding: 80px 0;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgb(255, 0, 79));
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
}

.layer i {
    margin-top: 20px;
    color: rgb(255, 0, 79);
    font-size: 18px;
    line-height: 60px;
    background: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid rgb(255, 0, 79);
    padding: 14px 50px;
    border-radius: 6px;
    color: white;
    text-decoration: none;
    transition background 0.5s;
}

.btn:hover {
    background: rgb(255, 0, 79);
}

/* -------contact------- */
#contact {
    margin-top: 80px;
}

.contact-left {
    flex-basis: 35%;
}

.contact-right {
    flex-basis: 60%;
}

.contact-left p {
    margin-top: 30px;
}

.contact-left p i {
    color: rgb(255, 0, 79);
    margin-right: 15px;
    font-size: 25px;
}

.social-icons {
    margin-top: 30px;
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: rgb(255, 0, 79);
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover {
    color: rgb(255, 0, 79);
    transform: translateY(-5px);
}

.btn.btn2 {
    display: inline-block;
    background: rgb(255, 0, 79);
}

.contact-right form {
    width: 100%;
}

form input, form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: rgb(38, 38, 38);
    padding: 15px;
    margin: 15px 0;
    color: white;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2 {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

#msg {
    color: rgb(97, 183, 82);
    margin-top: -40px;
    display: block;
}
